<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="true">
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <property name="LOG_PATH" value="${catalina.base}/logs/"/>
    <property name="LOG_FILE" value="catalina.log"/>


    <!-- 定义控制台输出日志的格式 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <!--<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>-->
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!--定义每天生成日志的格式-->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}${LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志输出文件名-->
            <fileNamePattern>${LOG_PATH}${LOG_FILE}.%d{yyyy-MM-dd}</fileNamePattern>
            <!--最大保留60天的日志-->
            <MaxHistory>60</MaxHistory>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>


    <!--系统日志输出级别-->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

    <!--过滤指定包下的输出级别-->
    <logger name="cn.zzy" level="info"/>
    <logger name="com.alibaba" level="warn"/>
    <logger name="org.springframework" level="warn"/>
    <logger name="org.apache" level="warn"/>
    <logger name="org.hibernate" level="warn"/>
    <logger name="sun.rmi" level="warn"/>
    <logger name="com.sun" level="warn"/>
    <logger name="sun.net" level="warn"/>
    <logger name="javax" level="warn"/>
    <logger name="io.netty" level="warn"/>
    <logger name="org.I0Itec" level="warn"/>
    <logger name="com.xxl.job" level="warn"/>
</configuration>